.root {
  height: 100%;
  text-align: center;
}

.button-div {
  position: absolute;
  top: 52%;
  left: 47%;
  z-index: 100;
}

.button-organ {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  border-radius: 20px;
}

.index-finger-1 {
  width: 55px;
  height: 3rem;
  left: -260px;
  top: -335px;
}

.middle-finger-1 {
  width: 55px;
  height: 3rem;
  left: -140px;
  top: -460px;
}

.ring-finger-1 {
  width: 60px;
  height: 3rem;
  left: -35px;
  top: -510px;
}

.little-finger-1 {
  width: 60px;
  height: 3rem;
  left: 85px;
  top: -480px;
}

.index-finger-2 {
  width: 60px;
  height: 3rem;
  left: -230px;
  top: -245px;
}

.middle-finger-2 {
  width: 70px;
  height: 3rem;
  left: -140px;
  top: -340px;
}

.ring-finger-2 {
  width: 70px;
  height: 3rem;
  left: -30px;
  top: -380px;
}

.little-finger-2 {
  width: 70px;
  height: 3rem;
  left: 80px;
  top: -365px;
}

.index-finger-3 {
  width: 80px;
  height: 4rem;
  left: -195px;
  top: -140px;
}

.middle-finger-3 {
  width: 80px;
  height: 4rem;
  left: -110px;
  top: -180px;
}

.ring-finger-3 {
  width: 80px;
  height: 4rem;
  left: -25px;
  top: -200px;
}

.little-finger-3 {
  width: 80px;
  height: 4rem;
  left: 70px;
  top: -200px;
}

.thumb-finger-2 {
  width: 65px;
  height: 3.5rem;
  left: 290px;
  top: -130px;
}

.thumb-finger-3 {
  width: 70px;
  height: 4rem;
  left: 210px;
  top: 0px;
}

.button-organ-4 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  width: 690px;
  height: 100px;
  top: 450px;
  left: -330px;
  border-radius: 50px;
}

.highlight {
  width: 1000px;
  position: absolute;
  top: 0%;
  left: 0%;
}
